<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vst.module1">

    <application android:theme="@style/AppTheme">

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AActivity" />
        <activity android:name=".activity.BActivity" />
        <activity android:name=".activity.FragActivity" />

        <activity android:name=".url.TWebView" />
        <activity android:name=".url.SchameFilterActivity">
            <!-- Schame -->
            <intent-filter>
                <data
                    android:host="m.aliyun.com"
                    android:scheme="arouter" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <!-- App Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="m.aliyun.com"
                    android:scheme="http" />
                <data
                    android:host="m.aliyun.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.WActivity" />
        <activity android:name=".activity.ServiceActivty" />
    </application>

</manifest>